body {
  background-color: #150F09;
  color: #F9F7F5;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #4BA3D2;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

@keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

.blinking {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  -webkit-animation-duration: 1.7s;
  animation-name: blinker;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 1.7s;
}
